USE [Filmlerx]
GO
/****** Object:  Table [dbo].[Calisanlar]    Script Date: 12.05.2022 11:36:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calisanlar](
	[CalisanID] [int] IDENTITY(1,1) NOT NULL,
	[CalisanAd] [nvarchar](50) NULL,
	[CalisanSoyad] [nvarchar](50) NULL,
	[CalisanTel] [nvarchar](50) NULL,
	[CalisanAdres] [nvarchar](50) NULL,
	[durum] [bit] NULL,
 CONSTRAINT [PK_Calisanlar] PRIMARY KEY CLUSTERED 
(
	[CalisanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilmCalisanlar]    Script Date: 12.05.2022 11:36:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilmCalisanlar](
	[CalisanID] [int] NOT NULL,
	[FilmID] [int] NOT NULL,
	[durum] [bit] NULL,
 CONSTRAINT [PK_FilmCalisanlar] PRIMARY KEY CLUSTERED 
(
	[CalisanID] ASC,
	[FilmID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Filmlerr]    Script Date: 12.05.2022 11:36:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Filmlerr](
	[FilmID] [int] IDENTITY(1,1) NOT NULL,
	[FilmAd] [nvarchar](50) NULL,
	[FilmTur] [nvarchar](50) NULL,
	[FilmSure] [nvarchar](50) NULL,
	[FilmPuan] [nvarchar](50) NULL,
	[CalisanID] [int] NULL,
	[OdulID] [int] NULL,
	[durum] [bit] NULL,
 CONSTRAINT [PK_Filmlerr] PRIMARY KEY CLUSTERED 
(
	[FilmID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oduller]    Script Date: 12.05.2022 11:36:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oduller](
	[OdulID] [int] IDENTITY(1,1) NOT NULL,
	[OdulAd] [nvarchar](50) NULL,
	[OdulAlan] [nvarchar](75) NULL,
	[durum] [bit] NULL,
 CONSTRAINT [PK_Oduller] PRIMARY KEY CLUSTERED 
(
	[OdulID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oyuncular]    Script Date: 12.05.2022 11:36:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oyuncular](
	[OyuncuID] [int] IDENTITY(1,1) NOT NULL,
	[CalisanID] [int] NOT NULL,
	[OdulID] [int] NULL,
	[durum] [bit] NULL,
 CONSTRAINT [PK_Oyuncular] PRIMARY KEY CLUSTERED 
(
	[OyuncuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yonetmenler]    Script Date: 12.05.2022 11:36:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yonetmenler](
	[YonetmenID] [int] IDENTITY(1,1) NOT NULL,
	[CalisanID] [int] NOT NULL,
	[OdulID] [int] NULL,
	[durum] [bit] NULL,
 CONSTRAINT [PK_Yonetmenler] PRIMARY KEY CLUSTERED 
(
	[YonetmenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Calisanlar] ON 

INSERT [dbo].[Calisanlar] ([CalisanID], [CalisanAd], [CalisanSoyad], [CalisanTel], [CalisanAdres], [durum]) VALUES (1, N'Clara', N'Oswald', N'5554445555', N'Londra Merkez', 1)
INSERT [dbo].[Calisanlar] ([CalisanID], [CalisanAd], [CalisanSoyad], [CalisanTel], [CalisanAdres], [durum]) VALUES (2, N'Iruka', N'Honda', N'5556664422', N'Tokyo Merkez', 1)
INSERT [dbo].[Calisanlar] ([CalisanID], [CalisanAd], [CalisanSoyad], [CalisanTel], [CalisanAdres], [durum]) VALUES (3, N'Hans', N'Müller', N'5558887799', N'Berlin Merkez ', 1)
SET IDENTITY_INSERT [dbo].[Calisanlar] OFF
GO
INSERT [dbo].[FilmCalisanlar] ([CalisanID], [FilmID], [durum]) VALUES (1, 1, 1)
INSERT [dbo].[FilmCalisanlar] ([CalisanID], [FilmID], [durum]) VALUES (2, 2, 1)
INSERT [dbo].[FilmCalisanlar] ([CalisanID], [FilmID], [durum]) VALUES (3, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[Filmlerr] ON 

INSERT [dbo].[Filmlerr] ([FilmID], [FilmAd], [FilmTur], [FilmSure], [FilmPuan], [CalisanID], [OdulID], [durum]) VALUES (1, N'Mehtaplı Bir Gece', N'Korku', N'1sa 35dk', N'7,5', 1, 3, 1)
INSERT [dbo].[Filmlerr] ([FilmID], [FilmAd], [FilmTur], [FilmSure], [FilmPuan], [CalisanID], [OdulID], [durum]) VALUES (2, N'Günün Kabusu', N'Komedi', N'1sa 22dk', N'8,0', 2, 3, 1)
INSERT [dbo].[Filmlerr] ([FilmID], [FilmAd], [FilmTur], [FilmSure], [FilmPuan], [CalisanID], [OdulID], [durum]) VALUES (3, N'Denizde Savrulan Şişe', N'Trajedi', N'1sa 43dk', N'7,8', 3, NULL, 1)
SET IDENTITY_INSERT [dbo].[Filmlerr] OFF
GO
SET IDENTITY_INSERT [dbo].[Oduller] ON 

INSERT [dbo].[Oduller] ([OdulID], [OdulAd], [OdulAlan], [durum]) VALUES (1, N'Oskar', N'En İyi Erkek Oyuncu', 1)
INSERT [dbo].[Oduller] ([OdulID], [OdulAd], [OdulAlan], [durum]) VALUES (2, N'Oscar', N'En İyi Yönetmen', 1)
INSERT [dbo].[Oduller] ([OdulID], [OdulAd], [OdulAlan], [durum]) VALUES (3, N'Altın Ayı', N'En İyi Film', 1)
SET IDENTITY_INSERT [dbo].[Oduller] OFF
GO
SET IDENTITY_INSERT [dbo].[Oyuncular] ON 

INSERT [dbo].[Oyuncular] ([OyuncuID], [CalisanID], [OdulID], [durum]) VALUES (1, 1, 4, 1)
INSERT [dbo].[Oyuncular] ([OyuncuID], [CalisanID], [OdulID], [durum]) VALUES (2, 6, 4, 1)
INSERT [dbo].[Oyuncular] ([OyuncuID], [CalisanID], [OdulID], [durum]) VALUES (3, 8, 1, 1)
SET IDENTITY_INSERT [dbo].[Oyuncular] OFF
GO
SET IDENTITY_INSERT [dbo].[Yonetmenler] ON 

INSERT [dbo].[Yonetmenler] ([YonetmenID], [CalisanID], [OdulID], [durum]) VALUES (1, 2, 2, 1)
INSERT [dbo].[Yonetmenler] ([YonetmenID], [CalisanID], [OdulID], [durum]) VALUES (2, 3, 2, 1)
INSERT [dbo].[Yonetmenler] ([YonetmenID], [CalisanID], [OdulID], [durum]) VALUES (3, 4, 2, 1)
SET IDENTITY_INSERT [dbo].[Yonetmenler] OFF
GO
ALTER TABLE [dbo].[Oyuncular] ADD  DEFAULT ((1)) FOR [durum]
GO
ALTER TABLE [dbo].[FilmCalisanlar]  WITH CHECK ADD  CONSTRAINT [FK_FilmCalisanlar_Calisanlar] FOREIGN KEY([CalisanID])
REFERENCES [dbo].[Calisanlar] ([CalisanID])
GO
ALTER TABLE [dbo].[FilmCalisanlar] CHECK CONSTRAINT [FK_FilmCalisanlar_Calisanlar]
GO
ALTER TABLE [dbo].[FilmCalisanlar]  WITH CHECK ADD  CONSTRAINT [FK_FilmCalisanlar_Filmlerr] FOREIGN KEY([FilmID])
REFERENCES [dbo].[Filmlerr] ([FilmID])
GO
ALTER TABLE [dbo].[FilmCalisanlar] CHECK CONSTRAINT [FK_FilmCalisanlar_Filmlerr]
GO
ALTER TABLE [dbo].[Filmlerr]  WITH CHECK ADD  CONSTRAINT [FK_Filmlerr_Oduller] FOREIGN KEY([OdulID])
REFERENCES [dbo].[Oduller] ([OdulID])
GO
ALTER TABLE [dbo].[Filmlerr] CHECK CONSTRAINT [FK_Filmlerr_Oduller]
GO
ALTER TABLE [dbo].[Oyuncular]  WITH CHECK ADD  CONSTRAINT [FK_Oyuncular_Calisanlar] FOREIGN KEY([CalisanID])
REFERENCES [dbo].[Calisanlar] ([CalisanID])
GO
ALTER TABLE [dbo].[Oyuncular] CHECK CONSTRAINT [FK_Oyuncular_Calisanlar]
GO
ALTER TABLE [dbo].[Oyuncular]  WITH CHECK ADD  CONSTRAINT [FK_Oyuncular_Oduller] FOREIGN KEY([OdulID])
REFERENCES [dbo].[Oduller] ([OdulID])
GO
ALTER TABLE [dbo].[Oyuncular] CHECK CONSTRAINT [FK_Oyuncular_Oduller]
GO
ALTER TABLE [dbo].[Yonetmenler]  WITH CHECK ADD  CONSTRAINT [FK_Yonetmenler_Calisanlar] FOREIGN KEY([CalisanID])
REFERENCES [dbo].[Calisanlar] ([CalisanID])
GO
ALTER TABLE [dbo].[Yonetmenler] CHECK CONSTRAINT [FK_Yonetmenler_Calisanlar]
GO
ALTER TABLE [dbo].[Yonetmenler]  WITH CHECK ADD  CONSTRAINT [FK_Yonetmenler_Oduller] FOREIGN KEY([OdulID])
REFERENCES [dbo].[Oduller] ([OdulID])
GO
ALTER TABLE [dbo].[Yonetmenler] CHECK CONSTRAINT [FK_Yonetmenler_Oduller]
GO
